warehouse/warehouse-ac/src/conf/wsdl/localhost_8080/WarehouseService/WarehouseService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://warehouseejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://warehouseejb/">

<xs:element name="getAllOrders" type="tns:getAllOrders"/>

<xs:element name="getAllOrdersResponse" type="tns:getAllOrdersResponse"/>

<xs:element name="getOrder" type="tns:getOrder"/>

<xs:element name="getOrderResponse" type="tns:getOrderResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="saveOrder" type="tns:saveOrder"/>

<xs:element name="saveOrderResponse" type="tns:saveOrderResponse"/>

<xs:complexType name="getOrder">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOrderResponse">
<xs:sequence>
<xs:element name="return" type="tns:bookOrder" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bookOrder">
<xs:sequence>
<xs:element name="bookName" type="xs:string" minOccurs="0"/>
<xs:element name="dispatchDate" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="isbn" type="xs:string" minOccurs="0"/>
<xs:element name="orderDate" type="xs:string" minOccurs="0"/>
<xs:element name="quantity" type="xs:int"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saveOrder">
<xs:sequence>
<xs:element name="order" type="tns:bookOrder" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saveOrderResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllOrders">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllOrdersResponse">
<xs:sequence>
<xs:element name="return" type="tns:bookOrder" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>