warehouse/warehouse-ac/src/conf/xml-resources/web-service-references/WarehouseService_1/wsdl/localhost_8080/WarehouseService/WarehouseService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://warehouseejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://warehouseejb/" name="WarehouseService">
<types>
<xsd:schema>
<xsd:import namespace="http://warehouseejb/" schemaLocation="http://localhost:8080/WarehouseService/WarehouseService?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllOrders">
<part name="parameters" element="tns:getAllOrders"/>
</message>
<message name="getAllOrdersResponse">
<part name="parameters" element="tns:getAllOrdersResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="saveOrder">
<part name="parameters" element="tns:saveOrder"/>
</message>
<message name="saveOrderResponse">
<part name="parameters" element="tns:saveOrderResponse"/>
</message>
<message name="getOrder">
<part name="parameters" element="tns:getOrder"/>
</message>
<message name="getOrderResponse">
<part name="parameters" element="tns:getOrderResponse"/>
</message>
<portType name="WarehouseService">
<operation name="getAllOrders">
<input wsam:Action="http://warehouseejb/WarehouseService/getAllOrdersRequest" message="tns:getAllOrders"/>
<output wsam:Action="http://warehouseejb/WarehouseService/getAllOrdersResponse" message="tns:getAllOrdersResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://warehouseejb/WarehouseService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://warehouseejb/WarehouseService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="saveOrder">
<input wsam:Action="http://warehouseejb/WarehouseService/saveOrderRequest" message="tns:saveOrder"/>
<output wsam:Action="http://warehouseejb/WarehouseService/saveOrderResponse" message="tns:saveOrderResponse"/>
</operation>
<operation name="getOrder">
<input wsam:Action="http://warehouseejb/WarehouseService/getOrderRequest" message="tns:getOrder"/>
<output wsam:Action="http://warehouseejb/WarehouseService/getOrderResponse" message="tns:getOrderResponse"/>
</operation>
</portType>
<binding name="WarehouseServicePortBinding" type="tns:WarehouseService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllOrders">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WarehouseService">
<port name="WarehouseServicePort" binding="tns:WarehouseServicePortBinding">
<soap:address location="http://localhost:8080/WarehouseService/WarehouseService"/>
</port>
</service>
</definitions>